<section id="campuses" class="singlecontainer">
    <h1>All campuses</h1>

    {{#each campuses}}
      <div class="campus">

      <ul>
        <li><img src ='{{imageUrl}}'></a></li>
      </ul>

      <p>
      <a href="/campuses/view/{{id}}">Campus Name:{{name}}</a>
      </p>
    </div>
    {{else}}
      <p>No campuses available</p>
    {{/each}}
  </section>